<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1/dist/leaflet.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1/dist/leaflet.js"></script>
    <link rel="shortcut icon" type="image/png" href="static/images/favicon.png"/>
    <title>grainParisArt</title>
    {% block head %} {% endblock %}
</head>

<header>
    <h1 class="textLogo_header"><a href="/">GrainParisArt</a></h1>
    <p>Quand ça va pas, y aura toujours le cinéma</p>
</header>
<body>
    {% block body %} {% endblock %}
</body>

<footer>
    <div class="container_footer">
        <p>Fait avec amour par <a href="https://www.solenederniaux.fr" target="_blank">Solène Derniaux</a></p>
        <p>©Tous droits réservés</p>
    </div>
</footer>
</html>