{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<a href="#" class="goTop">🍿</a>

<div id="map"></div>

<div class="planning">
    <div class="container_titrePlanning">
        <h2 class="txt_edt">Emploi du temps</h2>
        <div class="calendrier">
        {% for date in dates %}
            <a class="date"{% if not date.choisi %} href="{{ url_for('home', delta=date.index) }}"{% endif %}>
                <p class="jour">{{ date.jour }}</p>
                <p class="chiffre">{{ date.chiffre }}</p>
                <p class="mois">{{ date.mois }}</p>
            </a>
        {% endfor %}
        </div>
    </div>
    {% for film in films %}
        <div class="film">
            <div class="container_infoFilm">
                <img src="{{ film.affiche }}" class="affiche" />
                <div class="infoFilm">
                    <div>
                        <h3 class="titreFilm"><a href="{{ film.url }}">{{ film.title }}</a></h3>
                        <div class="info-content">
                            <p class="realisateur">Réalisateur : {{ film.director }}</p>
                            <p class="casting">Casting : {{ film.cast|join(", ") }}</p>
                            <p class="genre">Genre : {{ film.genres|join(", ") }}</p>
                            <p class="duree">Durée : {{ film.runtime }}</p>
                        </div>
                        <p class="synopsis">
                            {{ film.synopsis }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="seances">
                {% for cinename, seances in film.seances.items() %}
                    <div class="seance_container">
                        <div class="cinema">{{ cinename }}</div>
                        <div class="horaires_container">
                            {% for seance in seances %}
                                <div class="horaire">{{ seance }}</p></div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<script>
    mapboxgl.accessToken = '{{ MAPBOX_ACCESS_TOKEN }}';

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [2.3522, 48.8566],
        zoom: 12
    });

    map.addControl(new mapboxgl.NavigationControl());

    var locations = [
        {% for theater in theaters %}
        { coordinates: [{{ theater.longitude }}, {{ theater.latitude }}], description: "{{ theater.name }}" },
        {% endfor %}
    ];

    locations.forEach(function (location) {
        var el = document.createElement('div');
        el.className = 'custom-marker';

        var popup = new mapboxgl.Popup({ offset: 25 }).setText(location.description);

        new mapboxgl.Marker(el)
            .setLngLat(location.coordinates)
            .setPopup(popup)
            .addTo(map);
    });
</script>


{% endblock %}