{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<a href="#" class="goTop">🍿</a>

<div id="map"></div>

<div class="planning">
    <div class="container_titrePlanning">
        <h2 class="txt_edt">Emploi du temps</h2>
        <div class="calendrier">
        {% for date in dates %}
            <a class="date"{% if not date.choisi %} href="{{ url_for('home', delta=date.index) }}"{% endif %}>
                <p class="jour">{{ date.jour }}</p>
                <p class="chiffre">{{ date.chiffre }}</p>
                <p class="mois">{{ date.mois }}</p>
            </a>
        {% endfor %}
        </div>
    </div>
    {% for film in films %}
        <div class="film">
            <div class="container_infoFilm">
                <img src="{{ film.affiche }}" class="affiche" />
                <div class="infoFilm">
                    <div>
                        <h3 class="titreFilm"><a href="{{ film.url }}">{{ film.title }}</a></h3>
                        <div class="info-content">
                            <p class="realisateur">Réalisateur : {{ film.director }}</p>
                            <p class="casting">Casting : {{ film.cast|join(", ") }}</p>
                            <p class="genre">Genre : {{ film.genres|join(", ") }}</p>
                            <p class="duree">Durée : {{ film.runtime }}</p>
                        </div>
                        <p class="synopsis">
                            {{ film.synopsis }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="seances">
                {% for cinename, seances in film.seances.items() %}
                    <div class="seance_container">
                        <div class="cinema">{{ cinename }}</div>
                        <div class="horaires_container">
                            {% for seance in seances %}
                                <div class="horaire">{{ seance }}</p></div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<script>
    var map = L.map('map').setView([48.8566, 2.3522], 12);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var locations = [
        {% for theater in theaters %}
        { coordinates: [{{ theater.latitude }}, {{ theater.longitude }}], description: "{{ theater.name }}" },
        {% endfor %}
    ];

    var icon = L.divIcon({className: "custom-marker"});

    locations.forEach(function (location) {
        var marker = L.marker(location.coordinates, {icon: icon}).addTo(map);
        marker.bindPopup(location.description);
    });
</script>


{% endblock %}